.uls{
    height: 50px;
    width: 1170px;
    display: flex;
    text-align: center;
    margin: 0 auto;
    background-color: green;
}
img{
    z-index: 0;
}
li{
    list-style-type: none;
    color: #fff;
    background: green;
    text-align: center;
    display: block;
    float: left;
    width: 20%;
    padding: 16px;
    position: relative;
    transition-duration: 0.5s;
    z-index: 10;
}
.ul2{
    visibility: hidden;
    opacity: 0;
}
.uls li {
    width: 250px;
    background-color: green;
    padding: 16px;
    color: white;
}
.li1:hover{
    background-color: rgb(221, 175, 25);
    transition: 0.5s;
}
.li2:hover{
    background-color: rgb(28, 25, 221);
    transition: 0.5s;
}
.li3:hover{
    background-color: rgb(110, 25, 221);
    transition: 0.5s;
}
.li4:hover{
    background-color: rgb(221, 25, 25);
    transition: 0.5s;
}
.splint {
    position: fixed;
    right: 0;
    bottom: 0;
}
.turt {
    position: fixed;
    left: 0;
    bottom: 0;
}
.li2:hover > .ul2{
    transition: 0.5s;
    visibility: visible;
    opacity: 1;
    left: -10px;
    top: 300px;
}
.li2:hover > .ul2 li{
    left: -56px;
    top: 16px;
}
.ul1{
    visibility: hidden;
    opacity: 0;
}
.li1:hover > .ul1{
    transition: 0.5s;
    visibility: visible;
    opacity: 1;
    left: -10px;
    top: 300px;
}
.li1:hover > .ul1 li{
    left: -56px;
    top: 16px;
}
.ul3{
    visibility: hidden;
    opacity: 0;
}
.li3:hover > .ul3{
    transition: 0.5s;
    visibility: visible;
    opacity: 1;
    left: -10px;
    top: 300px;
}
.li3:hover > .ul3 li{
    left: -56px;
    top: 16px;
}
.ul4{
    visibility: hidden;
    opacity: 0;
}
.li4:hover > .ul4{
    transition: 0.5s;
    visibility: visible;
    opacity: 1;
    left: -10px;
    top: 300px;
}
.li4:hover > .ul4 li{
    left: -56px;
    top: 16px;
}